* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

h2 {
    font-weight: 700;
    font-size: 48px;
    font-family: 'Corinthia', cursive;
    color: #1E3A8A
}

.cabeçalho {
    background-color: lightblue;
    color: white;
    display: flex;
    align-items: center;
    padding: 20px 40px;
    flex-wrap: wrap;
}

ul {
    float: right;  /* Move a lista para o canto direito */
    list-style-type: none; /* Remove os marcadores */
    padding: 0;
    margin-top: 20px;  /* Dá espaço no topo para não sobrepor */
  }
  
  .main-content {
    padding-top: 20px;  /* Dá espaço no topo */
  }
  