* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

h2 {
    font-weight: 700;
    font-size: 48px;
    font-family: 'Corinthia', cursive;
    color: #1E3A8A
}

.cabeçalho {
    background-color: rgb(44, 104, 124);
    color: white;
    display: flex;
    align-items: center;
    padding: 20px 40px;
    flex-wrap: wrap;
}

ul {
    position: left;
    right: 0;
    top: 0;
    list-style-type: none;
    padding: 0;

}

img {
    width: 300px;
    height: 450px;
    display: block;
    margin: 0 auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
}

body {
    background-color: #ADD8E6;
    margin: 0px;
}

p {
    text-align: center;
}


li {
    text-align: center;
  }


h2 {
    text-align: center;
}

footer {
    background-color: rgb(44, 104, 124);
    color: white;
    text-align: center;
    padding: 10px 0;
}