* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

h2 {
    font-weight: 700;
    font-size: 48px;
    font-family: 'Corinthia', cursive;
    color: #1E3A8A
}

.cabeçalho {
    background-color: lightblue;
    color: white;
    display: flex;
    align-items: center;
    padding: 20px 40px;
    flex-wrap: wrap;
}

ul {
    position: left;  
    right: 0;            
    top: 0;              
    list-style-type: none;  
    padding: 0;  
     
  }
  img {
    width: 500px;    
    height: 700px;  
  }
  